@use "common/color" as *;
@use "common/reset" as *;
@use "common/size" as *;
@use "common/font" as *;
@use "mixin/utils" as *;

/*
#header(헤더)
#nav(네비게이션)
#scroll indicator(스크롤 인디케이터)
#탑버튼
#main(메인)
*/
body{
    background: url("../image/bg1.svg") no-repeat top center / cover;
    .bg3{
        @include position($r: 0);
        width: 15vw;
        aspect-ratio: 1 / 1;
        background: url("../image/bg3.svg") no-repeat top center / cover;
    }
}

//header(헤더)
header{
    .header-inner{
        height: 70px;
        color: $primary-orange;
        .header-wrap{
            @include flex-layout($jc: space-between, $ai: center);
            height: 100%;
            padding: 30px;
            font-size: 14px;
            border-bottom: 1px solid $primary-orange;
            .left{
                text-align: left;
            }
            .title--site{
                font-family: "LOTTERIACHAB";
                font-weight: 400;
                font-size: 40px;
            }
            .right{
                text-align: right;
            }
        }
    }
}

//nav(네비게이션)
nav{
    height: 40px;
    color: $primary-orange;
    border-bottom: 1px solid $primary-orange;
    .nav-wrap{
        @include flex-layout($ai: center, $jc: center);
        height: 100%;
        width: fit-content;
        margin: auto;

        li{
            button{
                @include position($p: relative);
                display: block;
                height: 100%;
                padding: 0 10px;

                &.active{
                    color: $primary-blue;
                    font-weight:800;

                    &::after{
                        content: "";
                        @include position($b:-18px, $l:10px);
                        width: calc(100% - 20px);
                        height: 16px;
                        background-color: $primary-blue;
                        border-radius: 16px;
                    }
                }
            }
        }
    }
}

//scroll indicator(스크롤 인디케이터)
$headerH: calc(70px + 40px + 30px);
.scroll-indicator{
    @include position($p: fixed, $r: 30px, $t:$headerH);
    z-index: 10;
    height: calc(100% - $headerH - 100px);
    text-align: right;
    .scroll-indicator-wrap{
        @include flex-layout($fd: column, $ai: end, $jc: space-between);
        height: 100%;
        .indicator--menu{
            li{
                button{
                    padding: 6px 14px;
                    border-radius: 40px;
                    &.active{
                        font-size: 24px;
                        font-weight: 600;
                        color: $ivory;
                        background-color: $primary-blue;
                    }
                }
            }
        }

        .indicator--line{
            flex: .95;
            width: 2px;
            margin-top: 10px;
            margin-right: 10px;
            background: linear-gradient(to bottom, #006FFD 0%, #c9c9c9 0%);
            border-radius: 4px;
            opacity: 0;
            transition: .3s;
        }

        .btn--top{
            opacity: 0;
            transition: .3s;
            transform: translateY(10vh);
        }
    }
}

//main(메인)
main{
    padding: $px12 0;
    .main-wrap{
        // width: calc(100% - 250px);
        height: 100%;
        margin-right: 180px;
        
        .card-title{
            @include position($p:relative, $l:0, $r:0, $t:clamp(80px, 8vw, 3.5vw));
            z-index: -1;

            font-family: "LOTTERIACHAB";
            font-size: clamp(80px, 8vw, 3.5vw);
            color: $primary-blue;
            line-height: 1;
            text-align: center;
            h2{
                font-weight: 400;
            }
        }
        
        .guide-li-wrap{
            @include position($p:relative);
            width: 80%;
            // height: 100%;
            margin-left: auto;

            &:not(:nth-of-type(1)){
                margin-top: calc($px36 * 3);
            }

            &:first-child{
                .guide-card:first-child{
                    @include position($p:relative);
                    &::after{
                        content: '';
                        @include position($b:-3vw,$r:-4.5vw);
                        width: 10vw;
                        aspect-ratio: 1 / 1;
                        background: url(../image/bg2.svg) no-repeat center / contain;
                    }
                }
            }
            .guide-card{
                @include position($p:relative);
                max-width: 700px;
                width: 100%;
                margin-top: $px24;
                
                .title--guide{
                    @include position($l:0, $r:0, $t:clamp(-30px, -2.5vw, -2.5vw));
                    width: fit-content;
                    margin: auto;
                    padding: 4px 8px;
                    font-size: clamp(18px, 3vw, 36px);
                    color: white;
                    text-align: center;
                    background-color: $primary-blue;
                }
                .sample-code{
                    padding: 20px 50px;
                    padding: 2vw;
                    width: 100%;
                    background-color: $black;
                    box-shadow: 12px 12px 0 0 $primary-blue;
                    border-radius: 60px;
                    .description{
                        margin-top: 12px;
                        padding: 0 4vw;
                        color: white;
                        line-height: 1.5;
                        li{
                            &:before{
                                content: "•";
                            }
                        }
                    }
                }
                
                //홀수번째 파란색 스타일
                // &:nth-child(odd){
                //     .title--guide{
                //         background-color: $primary-blue;
                //     }
                //     .sample-code{
                //         box-shadow: 12px 12px 0 0 $primary-blue;
                //     }
                // }
            }
        }
    }
}

@media (max-width: 1600px){
    main .main-wrap .guide-li-wrap{
        width: 100%;
        .guide-card{
            max-width: 60%;
        }
    }
}
@media (max-width: 1050px){
    main .main-wrap .guide-li-wrap .guide-card{
        max-width: 70%;
        .sample-code{
            border-radius: 40px;
        }
    }
}
@media (max-width: 750px){
    main .main-wrap .guide-li-wrap .guide-card{
        max-width: 90%;
    }
}