/*
사이즈
*/
$headerH: 14vw;
$navH: 20vw;
// mobile size. px to vw
$px2: 0.5vw;
$px4: 1vw;
$px6: 1.7vw;
$px8: 2vw;
$px10: 2.8vw;
$px12: 3.3vw;
$px14: 3.9vw;
$px16: 4.4vw;
$px18: 5vw;
$px20: 5.6vw;
$px22: 6vw;
$px24: 6.7vw;
$px26: 7.2vw;
$px28: 7.7vw;
$px30: 8.3vw;
$px32: 8.8vw;
$px34: 9.4vw;
$px36: 10vw;

